body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-oleo-script-swash-caps: "Oleo Script Swash Caps";
  --font-open-sans-hebrew: "Open Sans Hebrew";
  --font-oleo-script: "Oleo Script";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #f0efef;
  --color-chocolate-100: #fa8c3c;
  --color-chocolate-200: #e1571b;
  --color-steelblue: #08416b;
  --color-black: #000;
  --color-red: #e81e1e;
  --color-palegoldenrod-200: #dfdda3;
  --color-burlywood: #eab792;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-11xl: 30px;
}
